
    <h2 >

        <%= @event.name %>
    </h2>
    <br />

    <h4>
        <%= start_of_event @event %>
    </h4>
    <h4>
        <%= end_of_event @event %>
    </h4>

    <h4>Location:
        <%= @event.location %>
    </h4>
    <br />
    <hr />
    <br />
    <p>
        <h5>Description:
            <%= @event.description %>
        </h5>
    </p>
  

     
            <div class="rsvp"><%= button_to "Rsvp now", rsvp_events_create_path(event_id: @event.id), class: "btn btn-primary" %></div>
         